#webcamstreamer_wrapper {
	position: relative;
	padding-bottom: 56.25%;
	width: 100%;
	height: 100%;
}

#webcamstreamer_wrapper  iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

table.table-fit {
    width: auto !important;
    table-layout: auto !important;
}
table.table-fit thead th, table.table-fit tfoot th {
    width: auto !important;
}
table.table-fit tbody td, table.table-fit tfoot td {
    width: auto !important;
}